* key-value 인자 전달 방식

In [8]:
d1 = {'a':1, 'b':2, 'c':3}

In [7]:
d1.get('a')

1

In [9]:
d1['a']

1

In [10]:
d1.keys() # 딕셔너리 카값들로만 구성된 오브젝트 형식

dict_keys(['a', 'b', 'c'])

In [11]:
set(d1)   # 딕셔너리 카값들로만 구성된 오브젝트 형식, 딕셔너리 형태 유지

{'a', 'b', 'c'}

* zip : 동시에 변수를 묶어서 전달시 필요

In [ ]:
fsum(v1, v2)

In [15]:

def fsum(v1, v2):
    result=[]
    for i, j in zip(v1,v2):
        result.append(i + j)
    return result

fsum([1,2,3],[10,20,30])

[11, 22, 33]

* List

In [17]:
L1 = [1,2,3]
L2 = [4,5,6]

In [19]:
L1[0:2]  # 슬라이스색인

[1, 2]

In [20]:
L1[1:]  # 1~끝까지 색인

[2, 3]

In [22]:
L1[-1]  # reverse indexing

3

+ lambda

In [23]:
# ex) lambda input : output 
f1 = lambda x : x+1.1
f1(10)

11.1

In [24]:
list(map(f1,L1))  # map 함수에 의한 반복문

[2.1, 3.1, 4.1]

In [25]:
L11 = [1,2,3,4]

In [ ]:
L1 + L11  # 불가, 리스트의 확장이 됨

In [28]:
f2 = lambda x,y : x + y

In [29]:
list(map(f2,L1,L11))

[2, 4, 6]

In [30]:
list(map(lambda x : x <2,L1))  # 각 원소별 비교 가능

[True, False, False]

- Series

In [34]:
from pandas import Series
s1 = Series([1,2,3,4,5])

In [35]:
s1[[0,3]]  # 벡터 색인 가능

0    1
3    4
dtype: int64

In [36]:
s1 < 2   # 조건 전달 가능

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [37]:
s1[s1<2] # 조건 색인 가능

0    1
dtype: int64

* 딕셔너리
- R 에서의 리스트와 비슷
- key-value
- Series, Dataframe의 기본구조

In [38]:
d1 = {'a':1, 'b':2}
d2 = {'a':[1,2], 'b':[2,3]}
type(d1)
type(d2)

dict

In [39]:
# 색인
d1['a']

1

In [40]:
d1.get('a')

1

In [41]:
set(d1)  # 딕셔너리 키 출력

{'a', 'b'}

In [42]:
# ex) 다음의 리스트와 딕셔너리를 참고하여 전화번호를 완성 : 02)345-4958
l1=['345-4958','334-0948','394-9050','473-3853']
l2=['서울','경기','부산','제주']
area_no={'서울':"02",'경기':"031",'부산':"051" ,'제주':"064"}

In [44]:
area_no.get(l2[0]) + ')' + l1[0]

'02)345-4958'