## outer join 기능

In [1]:
run profile1

In [ ]:
pd.merge(left,                 # 첫번째 데이터 프레임
         right,                # 두번쨰 데이터 프레임
        how = {'left',         # 조인 연산 방법. left outer join
               'right',        # 조인 연산 방법. right outer join
               ' outer',       # 조인 연산 방볍. full outer join(조인조건 성립만 출력)
               'inner'},       # 조인 연산 방볍. inner join 
        on = ,                 # 조인 컬럼
        left_on = ,            # 왼쪽 데이터(첫 번째) 조인 컬럼
        right_on = ,           # 오른쪽 데이터(두번째) 조인컬럼
        left_index = False,   # 왼쪽 데이터(첫번째) 인덱스 값으로 조인 여부 
        right_index = False)  # 오른쪽 데이터(두번째) 인덱스 값으로 조인 여부

In [2]:
df1 = DataFrame({'col1':['a','b','c'],
                'col2':[1,2,3]})

In [4]:
df2 = DataFrame({'col11':['a','b','c'],
                'col22':[10,20,30]})

In [6]:
pd.merge(df1,df2,left_on = 'col1', right_on = 'col11', how = 'outer')

  col1  col2 col11  col22
0    a     1     a     10
1    b     2     b     20
2    c     3     c     30